/* App.css */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212; /* Dark background */
  color: #ffffff; /* White text */
}

#myChart {
  max-width: 30%;
  max-height: 30%;
}
